{% extends 'base.html.twig' %}

{% block title %}Accueil -
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container max-w-screen-xl mx-auto px-4 py-8">
		<h1 class="text-5xl font-bold text-gray-800 text-center mb-5">Bienvenue sur laboutique-dynamique</h1>

		<div class="grid grid-cols-3 gap-4">
			{% for category in categories %}
				{% if category.parent == null %}
					<h1 class="text-2xl font-bold text-gray-800 col-span-3 mt-7">{{ category.name }}</h1>
				{% else %}
					<div class="w-full">
						<div class="bg-white rounded-lg shadow-lg p-5">
							<h2 class="text-gray-800 text-xl font-bold mb-5">{{ category.name }}</h2>
							<a href="{{ path('category_list', {slug : category.slug}) }}" class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded">Voir les produits</a>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>

	</div>
{% endblock %}
