{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center text-4xl">La boutique dynamique</h1>
    <p>Bienvenue sur mon site e-commerce dynamique</p>
{% endblock %}
