@tailwind base;
@tailwind components;
@tailwind utilities;

/*npx tailwindcss -i ./public/assets/css/style.css -o ./public/assets/css/tailwind.css --watch*/

.closebouton {
    display: block;
}

.btnclose {
    display: block;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
}

.prev {
    left: -2rem;
}

.next {
    right: -2rem;
}
