{% extends 'base.html.twig' %}

{% block title %}Administration - Produits - Ajouter -
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container max-w-screen-lg mx-auto px-4 py-8">
		<h1 class="text-5xl font-bold text-gray-800 text-center mb-5">Ajouter un produit</h1>
		{% include "admin/product/_form.html.twig" %}

	</div>
{% endblock %}
