{% extends 'base.html.twig' %}

{% block title %}Administration - Produits - Modifier
{% endblock %}

{% block body %}
	<div class="container max-w-screen-lg mx-auto px-4 py-8">
		<h1 class="text-5xl font-bold text-gray-800 text-center mb-5">Modifier le produit nomduproduit</h1>
		{% include "admin/product/_form.html.twig" with {'button_label' : 'Modifier'} %}
	</div>
{% endblock %}
